  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        @*<img src="images/logo2.png" alt="">*@
        <h1>Muhasebe Uzmanı</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Anasayfa</a></li>
          <li><a href="about.html">Hakkında</a></li>
          <li><a href="services.html">Blog</a></li>
          <li><a href="pricing.html">Muhasebe Uzmanı mısınız?</a></li>
          @*<li><a href="contact.html">Contact</a></li>*@
          <li><a class="get-a-quote" href="get-a-quote.html">Giriş Yap/Üye Ol</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->